<div class="container">
    <div class="left">
        <h1>¿Qué es Guawpaw?</h1>
        <br>
        <h3> Una experiencia educativa divertida para los más pequeños</h3>
        <br>
        <p>Guawpaw es una aplicación<br>
            interactiva diseñada para <br>
            enseñar a los niños sobre el <br>
            cuidado del medio ambiente<br>
            mientras cuidan de una mascota <br>
            virtual: el lobo rojo. A través<br>
            de juegos y actividades, los <br>
            niños aprenderán sobre reciclaje,<br>
            ahorro de agua y protección de <br>
            la fauna.</p>
    </div>
    <div class="right">
        <img src="/images/Noki.png">
    </div>
</div>