<footer class="footer">
    <div class="background"></div>
    <h1>GuawPaw</h1>
    <div class="footer-content">
        <div class="footer-section credits">
            <h3>Créditos del Proyecto</h3>
            <p>Stephan Cedillo – Desarrollador Frontend, creador del chatbot y diseño web.Priscila Bacuilima – Ilustradora y animadora, diseño de personajes y gráficos.
                Anthony Quezada - Ilustrador y animador, diseño de personajes y gráficos.</p>
        </div>
        <div class="footer-section quote">
            <p>Cuidar el planeta no es solo una opción, es nuestra responsabilidad. 🌍💚</p>
        </div>
        <div class="footer-section contact">
            <h3>Contacto</h3>
            <p>info&#64;guawpaw.com</p>
        </div>
    </div>
</footer>
