<div class="navbar">
    <div class="title">
        <img src="images/logo.png" alt="Guawpaw Logo">
        <h1>Guawpaw</h1>
    </div>

    <!-- Botón hamburguesa, solo visible en pantallas pequeñas -->
    <button class="hamburger" (click)="toggleMenu()">&#9776;</button>

    <nav class="nav" [class.active]="menuActive">
        <ul>
            <li><button (click)="scrollTo('home')">Inicio</button></li>
            <li><button (click)="scrollTo('about')">¿Qué es Guawpaw?</button></li>
            <li><button (click)="scrollTo('objectives')">Propósito</button></li>
            <li><button (click)="scrollTo('technologies')">Tecnologías</button></li>
            <li><button (click)="scrollTo('contacto')">Descarga y Contacto</button></li>
        </ul>
    </nav>
</div>
