<div class="container">
  <div class="background"></div>
  <div class="left">
    <p>Tu mascota virtual</p>
    <br>
    <h1>Guaw <br>
      Paw</h1>
  </div>
  <div class="right">
    <section class="top-section">
      <p>
        <span class="day">{{ day }}</span>
        <span class="month">{{ month }}</span>
      </p>
    </section>
    
      <section class="bottom-section">
          <p>Guawpaw es una mascota<br>
          virtual educativa que enseña a<br>
          los niños a cuidar el medio<br>
          ambiente mientras cuidan de<br>
          su propio lobo rojo. Únete a <br>
          nuestra misión ecológica.</p>
      </section>
  </div>
</div>
